<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Esimda | Essential English Words.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF727E652A95E90C0068B616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF727E7B2A95E9100068B616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF727E852A95E9100068B616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
